.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
  }
  /* #overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .modal {
    position: fixed;
    width: 40%;
    left:30%;
    top:15%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    height:auto;
    max-height: 80vh;
    overflow-y: auto;
    transition: .3s all ease-out;
    
  }
  .ModalOpen {
    animation: openModal .4s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 1s ease-out forwards;
}
  
  @keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(60%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@media (max-width:1000px){
 .modal{
left:25%;
width:50%;
 }
}

@media (max-width:700px){
  .modal{
 left:20%;
 width:60%;
  }
 }

 @media (max-width:520px){
  .modal{
 left:10%;
 width:80%;
  }
 }

 @media (max-width:450px){
  .modal{
    top:10%;
 left:5%;
 width:90%;
  }
 }