.preparation {
  min-height: 110vh;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.side-shape {
  display: block;
  box-sizing: border-box !important;
  float: right;
  min-width: 25%;
  height: 35vh;
  z-index: 0;
  background-color: #d22a2a;
  border-bottom-left-radius: 100%;
  margin-top: 0px;
  right: 0;
}
.bottom-side-shape {
  width: 15%;
  height: 25vh;
  background-color: #d22a2a;
  border-top-right-radius: 100%;
}

.preparation-content {
  box-sizing: border-box !important;

  z-index: 15 !important;
  width: 80%;
  margin: 40px auto;
  font-size: 1.1rem;
}
.preparation-content a {
  text-decoration: underline;
}
.preparation-content li {
  margin: 10px 0;
}
.preparation header {
  font-size: 2rem;
  color: rgb(73, 71, 71);
  font-weight: 600;
  margin-bottom: 30px;
}
.preparation-content strong {
  font-size: 1.5rem;
  color: rgb(73, 71, 71);
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}


@media (max-width:1240px){
    .side-shape{
        /* width: 25%; */
        height: 30vh;
    }
    .bottom-side-shape{
        max-width: 13%;
        height: 20vh;
    }
}

@media (max-width:1070px){
    .side-shape{
        max-height: 25vh;
    }
   
}


@media (max-width:940px){
    .side-shape{
        height: 20vh;
    }
    .bottom-side-shape{
        
        height: 10vh;
    }
}

@media (max-width:760px){
    .side-shape{
        max-width: 25%;
    }
    /* .bottom-side-shape{
        height: 10vh;
    } */
}

@media (max-width:670px){
    .side-shape{
       width:27% ;
       height: 17vh;
    }
    
}

@media (max-width:540px){
    .side-shape{
        height: 14vh;
       
    }
    .bottom-side-shape{

        min-width: 22%;
            height: 10vh;
    }
}

@media (max-width:420px){
    .side-shape{

        height: 15vh;
    }
    .bottom-side-shape{
    }
}

@media (max-height:400px){
    .side-shape{
        width: 25%;
        height: 90vh !important;
    }
    .bottom-side-shape{
        height: 20vh;
        width: 25%;
    }
}