.avatar-canvas-manage img {
  width: 100px;
  margin: 30px 0;
}
.avatar-canvas-manage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-btn{
    margin:20px 0;
    width: 100px;
    height:2rem;
    border:1px solid grey;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
}