.about {
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.about header {
  text-align: center;
  font-size: 1.6rem;
  padding: 15px 0;
  font-weight: 700;
}
.about-shape-top{
float:left !important;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 100%;
width: 25% !important;
display: none;
}
.about-details {
  margin-left: 15px;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}
.about-details h3 {
  font-size: 2rem;
}
.about-details section{
    margin-bottom: 45px;
}
