.wrong-answer, .wrong-answer:hover{
    background-color: rgb(233, 94, 94) !important;
    color:white !important;
}

.right-answer, .right-answer:hover{
    background-color: #25e0ba !important;
    color:white !important;
}


.checking div:hover{
    background-color: inherit ;
    color:inherit ;
    cursor:auto;
}