.tests-section {
  min-height: 100vh;
  height: auto;
  background-color: white;
  z-index: 5;
}
.test-items {
    padding-top: 30px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.test-items section:nth-child(2) img{
  max-height: 80px !important;
  width: 90%;
}
.test-items section:nth-child(2) .test-image{
  height: 200px !important;
}
/* @media (max-width:1060px){
    .test-items{
        justify-content: space-evenly;
    }
} */