.contact {
    min-height: 70px;
    height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

}
.contact div{box-sizing: inherit;
  width: 33%;

  display: flex;
  align-items: center;
  

}
.contact div:nth-child(1){
  justify-content: left;
  padding-left: 10px;
  font-size: 1.1rem;
  color:#d62323;
  transition: all .3s ease;
}


.contact div:nth-child(2){
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color:rgb(94, 92, 92)
}

@media (max-width:900px){
  .contact{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .contact div{
    width: 100%;
  }
  .contact div:nth-child(1){
    margin:15px 0;
    justify-content: center;
  }
}

@media (max-width:600px){
  .contact div:nth-child(2){
    font-size: 1.2rem;
  }
}